<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{books-title}">List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }
        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }
        .books td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>
<h3 th:text="#{lang-switcher-header}">Select language</h3>
<div>
    <div><a href="#" th:href="@{/(lang=en)}" th:text="#{en-lang-switch-button-caption}">Language - EN</a></div>
    <div><a href="#" th:href="@{/(lang=ru)}" th:text="#{ru-lang-switch-button-caption}">Language - RU</a></div>
</div>
<h3 th:text="#{books-head}">Books:</h3>
<table class="books">
    <thead>
    <tr>
        <th th:text="#{id}">ID</th>
        <th th:text="#{book-title}">Title</th>
        <th th:text="#{author}">Author</th>
        <th th:text="#{genres}">Genres</th>
        <th th:text="#{editing}">Editing</th>
        <th th:text="#{deleting}">Deleting</th>
        <th th:text="#{comments}">Deleting</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.title}">Fathers and Sons</td>
        <td th:text="${book.authorId}">Ivan Turgenev</td>
        <td th:text="${book.genreIds}">Novel</td>
        <td>
            <a href="editBook.html" th:text="#{edit}" th:href="@{/editBook(id=${book.id})}">Edit</a>
        </td>
        <td>
            <form id="delete-book-form" action="books.html" th:action="@{/deleteBook(id=${book.id})}" th:method="post">
                <button class="btn btn-primary" type="submit" th:text="#{delete}">Delete</button>
            </form>
        </td>
        <td>
            <a href="comments.html" th:text="#{comments}" th:href="@{/comments(bookId=${book.id})}">Comments</a>
        </td>
    </tr>
    <td>
        <a href="addBook" th:text="#{add}" th:href="@{/addBook}">Add</a>
    </td>
    </tbody>
</table>
</body>
</html>
